root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.md]
# 行尾双空格表示 Markdown 中的换行符
trim_trailing_whitespace = false
